<!-- ComplementaryFilter launch file -->
<launch>
  <!-- <param name="/use_sim_time" value="true"/> -->
  #### Complementary filter
<!--
  <node pkg="imu_complementary_filter" type="complementary_filter_node" name="complementary_filter_gain_node" output="screen">
    <remap from="input_raw_imu" to="/d455/imu" />
    <param name="do_bias_estimation" value="true"/>
    <param name="do_adaptive_gain" value="true"/>
    <param name="use_mag" value="false"/>
    <param name="gain_acc" value="0.01"/>
    <param name="gain_mag" value="0.01"/>
  </node>
  -->
  
  <node pkg="pc_gps" type="groundplanesegmentation" name="groundplanesegmentation" output="screen">
    <remap from="imu/data" to="/imu" />
    <remap from="cloud_in" to="/3d_image/3d_cloud" />
    <param name="sensor_height" value="1.0"/>
    <param name="num_iter" value="5"/>
    <param name="num_lpr" value="200"/>
    <param name="th_seeds" value="1.2"/>
    <param name="th_dist" value="0.1"/>
    <param name="th_ceil_" value="1.0"/>
    <param name="th_box_" value="5.0"/>
    <param name="map_unit_size_" value="0.1"/>
  </node>
  
  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
    <remap from="cloud_in" to="/no_ground_flat"/>
    <remap from="scan" to="/rgbd/scan" />
    <rosparam>
      target_frame: base_link
      transform_tolerance: 0.01
      min_height: -0.2
      max_height: 0.2
        
      angle_min: -1.178095
      angle_max: 1.178095
      angle_increment: 0.0087
      scan_time: 0.03333
      range_min: 0.4
      range_max: 7.0
      use_inf: true
        
      #concurrency_level affects number of pc queued for processing and the number of threadsused
      # 0: Detect number of cores
      # 1: Single threaded
      # 2: inf : Parallelism level
      concurrency_level: 0
    </rosparam>
  </node>
  
    <!--
  <node pkg="tf" type="static_transform_publisher" name="camera_to_base_link" args="0 0 0 0 0 0 1 /base_link /d455_link 1000" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_odom" args="0 0 0 0 0 0 1 /odom /base_link 1000" />
  <node pkg="tf" type="static_transform_publisher" name="odom_to_map" args="0 0 0 0 0 0 1 /map /odom 1000" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <rosparam file="$(find pc_gps)/config/localmap_params.yaml" command="load" ns="local_costmap" />

  </node>
  
  

  <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" output="screen" >
    <rosparam file="$(find pc_gps)/config/localmap_params.yaml" command="load" ns="/costmap_node/costmap" />
  </node>

-->

</launch>
